.box {
  width: 23vw;
  height: 100vh;
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 4vw;
  font-family: "Inter";
  color: white;
}

.linkWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 7vw;
}

.link {
  margin-left: 2vw;
}

.selected {
  text-decoration: underline;
}

.raikesImage {
  width: 11vw;
  height: 4vw;
  position: absolute;
  top: 1vw;
  margin: 0;
}
