.menteeSignUp {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77vw;
  height: 100vh;
  background-color: rgb(251, 251, 251);
}

.profileWrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 77vw;
  height: 100vh;
  background-color: rgb(251, 251, 251);
}

.mentors {
  /* width: 70vw;
  height: 100vh; */
  display: flex;
  flex-direction: row;
}

.menteeSignUp h2 {
  text-align: center;
  color: black;
  padding: 4vw;
  font-size: 1.7vw;
}

.menteeSignUp button {
  width: 10vw;
  height: 4vw;
  background-color: rgb(202, 220, 235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.loading {
  position: absolute;
  right: 0;
  width: 77vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect {
  width: 100%;
  display: flex;
  justify-content: center;
}

.connect button {
  width: 18vw;
  height: 3vw;
  background-color: #ffffffa7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.1vw;
}

.popup {
  position: relative;
  margin-top: 2vw;
  width: 20vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
  z-index: 100;
}

.popup button {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0.2vw;
  right: 0.2vw;
  box-shadow: none;
  margin-left: 1vw;
  margin-bottom: 4vw;
  border-radius: 100%;
  width: 1.5vw;
  height: 1.5vw;
  padding: 0;
}
