.menteeSignUp {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.menteeSignUp h2 {
  text-align: center;
  padding: 4vw;
  font-size: 1.7vw;
}

.menteeSignUp button {
  width: 10vw;
  height: 4vw;
  background-color: rgb(202, 220, 235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
