.holder {
  width: 26vw;
  height: 15vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 2vw;
  margin: 2vw;
}

.textStyling {
  margin-left: 1vw;
  margin-bottom: 1vw;
  font-size: 1.7vw;
}

.textStyling h3 {
  font-size: 2vw;
}

.name {
  font-style: italic;
}
